<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3G_MHome.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>3G_P2PCAM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Ezcam.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Mommy can.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>P2PCam264.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>P2PCamLive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>P2PCamMJ4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZINCAM HD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E2A43EE15FEEE7D000A2974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E69DCBD15E322A300A4FF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E69DD6015E3258500A4FF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF96FBE15E316C600A13DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>610DB9FF169AF0BF00292CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6122851216B39DB900BABFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61575AC8162D3BDE0049F75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619285A015984FCE00981D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CB58F3151FFA3F001568B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F71AB2148C5342007705B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
